@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	@import "./mdx.css";
	:root {
		--scale-x: 0;
		--gradient: linear-gradient(to right, theme(colors.purple.600), theme(colors.accent.pink));
		--text-gradient: linear-gradient(
			75deg,
			theme(colors.accent.blue) 0,
			theme(colors.accent.purple) 9%,
			theme(colors.accent.pink) 20%,
			theme(colors.accent.pink) 24%,
			theme(colors.accent.purple) 35%,
			theme(colors.accent.purple) 44%,
			theme(colors.accent.purple) 50%,
			theme(colors.accent.pink) 56%,
			#131314 75%,
			#131314 100%
		);
	}
	html {
		@apply scroll-smooth;
	}
}

@layer components {
	.decoration-gradient {
		@apply relative cursor-pointer transition-colors before:absolute before:-bottom-1 before:left-0 before:h-[3px] before:w-full before:origin-left before:scale-x-[var(--scale-x)] before:rounded-full before:transition-all before:[background-image:var(--gradient)] md:before:hover:scale-x-100;
	}
	.text-gradient {
		@apply bg-clip-text text-transparent [background-image:var(--text-gradient)] [background-size:400%_100%];
	}
	.main-heading {
		@apply text-gradient w-fit text-3xl font-bold md:text-5xl;
	}
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 15px;
	width: 15px;
	background-size: 15px 15px;
	margin-left: 10px;
	cursor: pointer;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23d4d4d8" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>');
}
